@import "../../../styles/variables.scss";
.input-wrapper {
    font-size: 16px;
    color: $text-color;
    text-align: start;
    label {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .input-content {
        width: 100%;
        border-radius: 8px;
        display: flex;
        .icon {
            display: flex;
            padding: 12px;
            background-color: $primary-color;
            border-radius: 0 8px 8px 0;
            img {
               height: 20px; 
            }
        }
        input {
            width: 100%;
            padding: 12px 0 12px 20px;
            
            border: 1px solid $soft-shadow;
            border-radius: 8px 0 0 8px;
            background-color: $gray-secondary-bg;
        }
    }
}